.contents-view {
    position: fixed;
    top: 15vh;
    left: 0;
    width: 100vw;
    height: 70vh;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    overflow-x: hidden;
    overflow-y: scroll;
}

//
.newfeed-img-container {
    position: fixed;
    bottom: 20vh;
    right: 10vw;

    text-align: center;

    width: 80px;
    height: 80px;

    background-color: var(--orange);
    border-radius: 50px;
}

.newfeed-icon {
    font-size: 60px;
    color: #fff;
}

//카드
.card-container {
    width: 100vw;
    height: 20vh;

    min-height: 100px;

    display: flex;

    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}
.card-container:hover {
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-img-container {
    float: left;
}

.card-info {
    position: relative;
    margin: 1vh 0 0 10px;
    width: 100%;
}

.card-img {
    height: 18vh;
    max-width: 530px;
    margin: 1vh 20px;
    border-radius: 10px;
}

.card-name {
    font-size: 1.6rem;
    font-weight: 500;
    padding: 10px 0px;
}

.card-place {
    font-size: 1.2rem;
    font-weight: 500;
    color: #a7a7a7;
    padding: 10px 0px;
}

.card-price {
    font-size: 1.6rem;
    font-weight: 600;
    padding: 10px 0px;
}

.card-like {
    position: absolute;
    right: 30px;
    bottom: 30px;
}

.like-count {
    font-size: 24px;
    font-weight: 300;
}

.pointer {
    &:hover {
        cursor: pointer;
    }
}

.input-search {
    width: 50vw;
    height: 5vh;
    font-size: 2em;

    background-color: #dadada88;
    padding: 10px 110px 10px 30px;
    border: none;
    border-radius: 5px;
    margin-right: 3vw;
}
