.page-container {
    font-size: 1.3em;
}

.img-container {
    margin: 20vh auto 5vh auto;
}

.logo {
    width: 60vw;
    max-height: 30vh;
}

.discription-title {
    font-size: 1.5em;
    font-weight: 800;
}

.discription-content {
    font-size: 1.1em;
    font-weight: 400;
}

.color-primary {
    color: #ff931e;
}

.position-bottom {
    position: fixed;
    left: 0;
    bottom: 5vh;
    width: 100%;
}
